/*********BASE STYLES*************/
body {
  margin: 0 10em;
  background-color:lightblue ;
  font-family: sans-serif;
}

li {
  list-style: none;
}

/*Header and Cover Photo*/
#header-container {
  height: 25% ;
  background-color: pink;
}

#main-icon {
 position: relative;
 top: -100px;
 border: solid #fff 6px;
}

#banner-container {
  height: 352px;
  border: solid #fff 6px;
}

#banner-image {
  width: 100%;
  height: 100%;
}

#nav {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  font-size: 1.2em;
  font-family:cursive;
  color: #fff;
}

/* Main Content Area*/
#content-container {
  display: flex;
  justify-content: space-between;
  height: 75%;
}
/*Left Side*/
#left-content {
  width: 45%;
}

#about-me {
  background-color:white;
  padding: 2em;
  margin: 10px 0;
}

#pictures {
  background-color: lightpink;
  padding: 2em;
  margin: 10px 0;
}

#picture-container {
  display: flex;
  flex-wrap: wrap;

  border: solid #fff 3px;
}



/*Right Side*/
#right-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

h4 {
  display: inline;
}
/********************************/



/*********IMAGE CLASSES***********/
/********************************/
.feature-img-lg {
  height: 200px;
  widht: 256px;
  flex-grow: 2;
}

.feature-img-sm {
  height: 100px;
  widht: 100px;
}

.image {
  height:100%;
}


/*********COMMENT BOXES***********/
/********************************/
.comment-box-sm {
  background: #fff;
  padding: 1em;
  margin: 5px 0;
}




/*********PROFILE PICTURE CLASSES***********/
.profile-icon-lg {
  width:10em;
  height:10em;;
}

.profile-icon-sm {
  width:50px;
  height:50px;
  padding: 5px 5px 0 5px;
}

/******************************************/

/*********LIST CLASSES***********/
.list-simple {
  /*Use this class to edit the style of this list*/
}

/********************************/
